<ion-content>
<div class="tab-salary">
    <div style="display: flex; align-items: center;">
      <ion-icon name="arrow-back" (click)="back()"></ion-icon>
      <p>Area Personal</p>
    </div>
  </div>
  <div class="main-container">
    <div class="container">
      <div>Total gastado este mes: {{totalMonth}} €</div>
      <ion-progress-bar value={{percentageMonthProgress}}></ion-progress-bar>
      <div>{{percentageMonth}} % Gastado mes</div>
      <div>Total gastado este año: {{totalYear}} €</div>
      <ion-progress-bar value={{percentageYearProgress}}></ion-progress-bar>
      <div>{{percentageYear}} % Gastado año</div>
    </div>
    <hr>
    <div class="title-tips">Tips sobre el dinero</div>
    <div class="tips">
      <div class="tip tip-1">Activos vs Pasivos</div>
      <div class="tip tip-2">No trabajes para el dinero</div>
      <div class="tip tip-3">e-Commerce</div>
      <div class="tip tip-4">Libros sobre el dinero</div>
    </div>
  </div>

  <div class="bottom-navigation">

    <div><ion-icon name="battery-charging"></ion-icon></div>
    <div><ion-icon name="add-circle" (click)="goToExpenseForm()"></ion-icon></div>
    <div><ion-icon name="school" (click)="goToProfile()"></ion-icon></div>
 
  </div>
</ion-content>
