<ion-content>
<div class="tab-salary">
    <div style="display: flex; align-items: center;">
      <ion-icon name="arrow-back" (click)="back()"></ion-icon>
      <p>Area Personal</p>
    </div>
  </div>
  <div class="main-container">
    <h2>Bienvenido a tu area personal</h2>
    <div class="container">
      <div class="progress"></div>
      <div>10% Gastado mes</div>
    </div>
  </div>

  <div class="bottom-navigation">

    <div><ion-icon name="battery-charging"></ion-icon></div>
    <div><ion-icon name="add-circle" (click)="goToExpenseForm()"></ion-icon></div>
    <div><ion-icon name="school" (click)="goToProfile()"></ion-icon></div>
 
  </div>
</ion-content>
