<ion-content>
<div class="tab-salary">
    <div style="display: flex; align-items: center;">
      <ion-icon name="arrow-back" (click)="back()"></ion-icon>
      <p>Area Personal</p>
    </div>
  </div>
  <div class="main-container">
    <div class="container">
      <div>Total gastado este mes: {{totalMonth}} €, te queda: {{totalSalary - totalMonth}} €</div>
      <ion-progress-bar value={{percentageMonthProgress}}></ion-progress-bar>
      <div>{{percentageMonth}} % Gastado mes</div>
      <div>Total gastado este año: {{totalYear}} €</div>
      <ion-progress-bar value={{percentageYearProgress}}></ion-progress-bar>
      <div>{{percentageYear}} % Gastado año</div>
    </div>
    <hr>
    <div>Gastos por categoría este mes</div>
    <div class="container-categories">
      <div class="table" *ngFor="let item of categoriesMap" >
          <div>{{item.category}}</div>
          <div class="expense">{{item.value}} €</div>
      </div>
    </div>
  </div>

  <div class="bottom-navigation">

    <div><ion-icon name="battery-charging" (click)="goToSaveMoney()"></ion-icon></div>
    <div><ion-icon name="add-circle" (click)="goToExpenseForm()"></ion-icon></div>
    <div><ion-icon name="school" (click)="goToProfile()"></ion-icon></div>
 
  </div>
</ion-content>
