<ion-content>
  <div class="tab-salary">
    <div style="display: flex; align-items: center;">
      <!-- <img src="../../assets/moneyManager-logo.png"/> -->
      <p>Tu sueldo: {{salary}}</p>
    </div>
    <ion-icon name="create"></ion-icon>
  </div>
  <div class="main-content">
    <div class=slider-content>
      <button ion-button icon-only class="btn-slider" (click)="prev()"><ion-icon name="arrow-back"></ion-icon></button>
      <ion-slides class="slider" #slides ionSlideDidChange="slideChange()">
        <ion-slide>Tus gastos hoy</ion-slide>
        <ion-slide>Tus gastos este mes</ion-slide>
        <ion-slide>Tus gastos este año</ion-slide>
      </ion-slides>
      <button ion-button icon-only class="btn-slider" (click)="next()"><ion-icon name="arrow-forward"></ion-icon></button>
    </div>
    <div class="expenses">
      <div class="titles-expenses">
        <div class="title">Name</div>
        <div class="title">Category</div>
        <div class="title">Expense</div>
        <div class="title"><ion-icon name="trash" size="small"></ion-icon></div>
      </div>
      <div class="expenses-scroll">
        <div class="foo" *ngFor="let expense of expenses">
          <div class="expense">
            <div class="inner-expense">{{expense.name}}</div>
            <div class="inner-expense">{{expense.category}}</div>
            <div class="inner-expense">{{expense.value}} €</div>
            <div class="inner-expense" (click)="deleteExpense(expense)"><ion-icon name="close"></ion-icon></div>
          </div>
          <div class="separator-container"><div class="separator"></div></div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-navigation">

    <div><ion-icon name="battery-charging"></ion-icon></div>
    <div><ion-icon name="add-circle" (click)="goToExpenseForm()"></ion-icon></div>
    <div><ion-icon name="school" (click)="goToProfile()"></ion-icon></div>
 
  </div>
</ion-content>
